<nav class="navbar navbar-expand-sm navbar-dark bg-dark">


    <!-- 	<i class="fas fa-globe-asia"></i> -->
    <i class="bicon fas fa-book fa-2x" style="color: azure;"></i>
    <a href="" class="navbar-brand ml-3"><b>Bookii</b></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                      <span class="navbar-toggler-icon"></span>
                  </button>
    <!-- <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ml-5">
            <li class="nav-item">
                <a routerLinkActive="active" routerLink="/home">Employee list</a>
            </li>
            <li class="nav-item ml-3">
                <a routerLinkActive="active" [routerLink]="['/about']">Career</a>
            </li>
            <li class="nav-item ml-3">
                <a routerLinkActive="active" [routerLink]="['/services']">Services</a>
            </li>

        </ul>


    </div> -->

    <form class="form-inline ">
        <!-- <input type="search" class="form-control ml-5 "> -->
        <!-- <button type="button" class="btn form-control"><b>Get Started</b>
        </button> -->
        <!-- <a class="btn sm collapse navbar-collapse" id="menu" href="#" routerLink="/login"> Get Started</a> -->
        <a href=""> <button nz-button nzType="default" routerLink="/login"><b>Get Started </b></button>
        </a>
    </form>
</nav>