<div>
    <div class="row">
        <div class=" log col-sm-6 ">
            <div class="imge">
                <a href="" class="join" routerLink="/home">
                    <h1>Join us</h1>
                </a>
                <a href=""><img src="assets/images/book2.jpg" width="170px" height="120px" routerLink="/home"></a>

            </div>



            <div>
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired nzTooltipTitle="What do you want other to call you">
                            <span>Name</span>
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
                            <input nz-input id="name" formControlName="name" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                            <input nz-input formControlName="email" id="email" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                            <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                            <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
                            <ng-template #errorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please confirm your password!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('confirm')">
                                    Two passwords that you enter is inconsistent!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-row class="register-area sm">
                        <nz-form-control [nzSpan]="14" [nzOffset]="6">
                            <button nz-button nzType="primary">Register</button>
                        </nz-form-control>
                    </nz-form-item>
                    <div class="paragraph">
                        <p>Already have an account?
                            <a href="/login" routerLink="/login">Log in here.</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>

        <!--  <div class="name">
                <label><b>Name</b></label><br>
                <input type="text" placeholder="Your Name"><br>
            </div>
            <div class="email">
                <label><b>Email</b></label><br>
                <input type="email" placeholder="your@email.com"><br>
            </div>
            <div class="password">
                <label><b>Password</b></label><br>
                <input type="password" placeholder="Password"><br>
            </div>
            <div class="confirmPassword">
                <label><b>Confirm Password</b></label><br>
                <input type="password" placeholder="Confirm Password">
            </div>
            <div>
                <button class="register" routerLink="/sidebar"><b>Register</b></button>

            </div>
            <div class="paragraph">
                <p>Already have an account?
                    <a href="/login" routerLink="/login">Log in here.</a>
                </p>
            </div>
        </div>
    -->

        <div class="logr col-sm-6">
            <img src="assets/images/book3.jpg" width="100%" height="100%" />

        </div>


    </div>

</div>