<div>
    <div class="row">
        <div class=" log col-sm-6 ">
            <div class="imge">
                <a href="" class="join" routerLink="/home">
                    <h1>Join us</h1>
                </a>
                <a href=""><img src="assets/images/book2.jpg" width="170px" height="120px" routerLink="/home"></a>
                <!-- <h6>Welcome To Booky.</h6><br><br> -->
            </div>

            <div class="name">
                <label><b>Name</b></label><br>
                <input type="text" placeholder="Your Name"><br>
            </div>
            <div class="email">
                <label><b>Email</b></label><br>
                <input type="email" placeholder="your@email.com"><br>
            </div>
            <div class="password">
                <label><b>Password</b></label><br>
                <input type="password" placeholder="Password"><br>
            </div>
            <div class="confirmPassword">
                <label><b>Confirm Password</b></label><br>
                <input type="password" placeholder="Confirm Password">
            </div>
            <div>
                <button class="register" routerLink="/sidebar"><b>Register</b></button>

            </div>
            <div class="paragraph">
                <p>Already have an account?
                    <a href="/login" routerLink="/login">Log in here.</a>
                </p>
            </div>
        </div>

        <div class="logr col-sm-6">
            <img src="assets/images/book3.jpg" width="100%" height="100%" />

        </div>


    </div>

</div>