/* Container holding the image and the text */

.container {
    position: relative;
}

.img {
    height: 598px;
    width: 100%;
}


/* Bottom right text */

.text-block {
    position: absolute;
    bottom: 140px;
    right: 20px;
    /* background-color: black; */
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
    margin-top: 25px;
    border-radius: 30%;
    background-color: gray;
    border: dodgerblue;
    padding: 10px;
    color: black;
}