<app-navbar>
</app-navbar>

<div class="home col-sm-12">
    <img src="assets/images/book1.jpg" class="img">
    <div class="text-block ">
        <h2><b>Bookiiii is a personal <br> books tracker!</b> </h2>
        <h4>Keep track of books you read / want to read <br>without any hastle. </h4>
        <a href="/login"> <button nz-button nzType="default" routerLink="/login"><b> Get Started </b></button>
        </a>
        <!-- <button class="btn" type="button" routerLink="/home">Get Started</button> -->
    </div>
</div>